/* ========================================GOOGLE FONTES=============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*     font-family: "Poppins", sans-serif;      */


/* ======================================== VARIAVEIS - CSS  =============================*/

:root {
    /* ===============================    colors    =============================*/

    --withe-color: #fff;
    --black-color: #000;


    /* ==============================    font and Typografy  =============================*/
    /* 1 REM  = 16PX      |   .5REM = 8PX=       */
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;

    /* ==============================    font weight  =============================*/
    --font-medium: 500;

}

    /* ==============================    BASE  =============================*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body, inpput, button {
        font-size: var(--normal-font-size);
        font-family: var(--body-font);

    }

    body {
        color: var(--withe-color);
    }

    input, button {
        border: none;
        outline: none;

    }

    a {
        text-decoration: none;

    }

    img {
        max-width: 100%;
        height: auto;

    }






